
body {
    background: rgb(201, 201, 201);
    background: linear-gradient(90deg, rgb(207, 207, 207) 0%);
padding-top: 6em;
font-style: italic;
}

#main{

    border: 1px solid transparent;
    margin-right: 33%;
    margin-left: 33%;
    padding-bottom: 21em;
    border-radius: 50px;

    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
}

body h1{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;   
    font-size: 3em;
}


#container{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;  
  
}


#input{

   
    font-size: 1.3em;
    background: rgb(201, 201, 201);
    background: linear-gradient(90deg, rgb(207, 207, 207) 0%);
}

#input::placeholder{
    background: rgb(221, 220, 220);


}

.paragraph-styling{
    margin: 0;
    cursor: pointer;
    font-size: 20px;
}

#list{
    
    margin-top: 2em;
    position: absolute;
    list-style-type: none;
    display: block;
    font-size: 20px;
  
}



.fa-trash-alt  {
   
    border-radius: 15%;
    margin: 1px;
    font-size: 13px;

    
}

.fa-check-square {
    
    border-radius: 15%;
    margin: 1px;
    font-size: 13px;
    margin-left: 1em;
    bac

    
}






@media screen and (max-width: 767px){

   

    body h1{
         
        font-size: 2.5em;
    }
    

    
    #main{

        border: 1px solid transparent;
        margin-right: 20%;
        margin-left: 20%;
        padding-bottom: 17em;
    }

    #container input{
font-size: 0.9em;
   
} 
}